![logo_usjt.png](https://www.usjt.br/app/themes/mobister/dist/images/sao-judas-universidade.png)

# Datawarehousing & Data Mining
- **Professor**: Sergio Bonato <antonio.bonato@saojudas.br>

# Atividade04 - Pandas para Análise e Tratamento de Dados

**Conteúdo**
- Leitura de dados
- Filtros
- Agregações
- Agrupamentos
- Pivot Tables
- Estatísticas
- Séries Temporais

In [18]:
import pandas as pd
# definicao dos dados em listas
referencias = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set']
cdi = [0.54, 0.49, 0.47, 0.52, 0.54, 0.47, 0.57, 0.50, 0.46]
ipca = [0.32, 0.43, 0.75, 0.57, 0.13, 0.01, 0.19, 0.11, -0.04]
igpm = [0.01, 0.88, 1.26, 0.92, 0.45, 0.80, 0.40, -0.67, -0.01]

In [19]:
# criação do dataframe e definição do índice
indicadores = pd.DataFrame(data={'IPCA': ipca, 'CDI': cdi, 'IGPM': igpm}, index=referencias)
indicadores

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

**1** Selecionar o CDI de todos os meses jan, mar, abr, jun, set

In [20]:
# Solução
indicadores.loc[['jan','mar','abr','jun','set'], ['CDI']]

      CDI
jan  0.54
mar  0.47
abr  0.52
jun  0.47
set  0.46

**2** Filtrar todos os registros nos quais o IGP-M é maior que o IPCA

In [21]:
# Solução
indicadores[indicadores['IGPM'] > indicadores['IPCA']]

     IPCA   CDI  IGPM
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
set -0.04  0.46 -0.01

**3** Apresentar todas os registros nos quais o IGPM é maior que o IPCA e o CDI

In [22]:
# Solução
indicadores[(indicadores['IGPM'] > indicadores['IPCA']) & (indicadores['IGPM'] > indicadores['CDI'])]

     IPCA   CDI  IGPM
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
jun  0.01  0.47  0.80

**4** Apresentar o IPCA nos meses nos quais o IGPM foi negativo

In [23]:
# Solução
indicadores[indicadores['IGPM'] < 0]['IPCA']

ago    0.11
set   -0.04
Name: IPCA, dtype: float64

#### Carregando os dados da aba 2 do arquivo *bec_exel_abas.xlsx*

In [24]:
bec_abas = pd.read_excel('dataset/02-DS_BEC_abas.xlsx',
                         sheet_name=1)
bec_abas.head(5)

,Cód Desc Órgão,Mês Ano Encerramento,Valor Total Negociado em R$,Descrição Procedimento Compra,Código e Descrição Técnica do Grupo
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,673.2,DISPENSA DE LICITAÇÃO,36 - MAQUINAS E EQUIPAMENTOS PARA INDUSTRIAS E...
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1880.0,DISPENSA DE LICITAÇÃO,71 - MOBILIARIOS EM GERAL
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,340.0,DISPENSA DE LICITAÇÃO,"83 - TECIDOS, COUROS, PELES, AVIAMENTOS, BARRA..."
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1104.0,DISPENSA DE LICITAÇÃO,86 - INFORMATICA
4,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,1090.0,DISPENSA DE LICITAÇÃO,89 - GENEROS ALIMENTICIOS

**5** Listar os 5 maiores valores negociados em uma licitação a partir do arquivo carregado *bec_excel_abas.xlsx*

In [25]:
# Solução
bec_abas.nlargest(5, 'Valor Total Negociado em R$')['Valor Total Negociado em R$']

180438    4.288788e+08
178928    2.562134e+08
172107    1.390729e+08
139558    9.663800e+07
180594    9.256481e+07
Name: Valor Total Negociado em R$, dtype: float64

In [26]:
# dados públicos da BEC para análise 
df_bec = pd.read_excel('dataset/03-DS_BEC.xlsx', error_bad_lines=False)
df_bec = df_bec[['Cód Desc Órgão', 'Mês Ano Encerramento', 'Cod Desc Fornecedor', 'Descrição Procedimento Compra', 'Cod Desc Item', 'Quantidade de Item','Valor Unitário Negociado', 'Valor Total Negociado em R$']]
# criando uma nova coluna
df_bec['Valor Negociado Mi'] = df_bec['Valor Total Negociado em R$'] / 1000000
df_bec.head(4)

,Cód Desc Órgão,Mês Ano Encerramento,Cod Desc Fornecedor,Descrição Procedimento Compra,Cod Desc Item,Quantidade de Item,Valor Unitário Negociado,Valor Total Negociado em R$,Valor Negociado Mi
0,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,28363983000140 - OFICIAL WEB COMERCIAL LTDA - ME,DISPENSA DE LICITAÇÃO,"4843274 - FILME PROTETIVO, DE POLIESTER, 1,00X...",1,168.3,673.2,0.000673
1,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,12517378000146 - A. C. DOS SANTOS MÓVEIS ME,DISPENSA DE LICITAÇÃO,"4863801 - ESTANTE DESMONTAVEL DE ACO,ABERTA,06...",1,235.0,1880.0,0.001880
2,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,17365274000187 - CBF COMÉRCIO DE CONFECÇÕES BA...,DISPENSA DE LICITAÇÃO,"4628020 - BANDEIRA,MUNICIPIO DE SAO PAULO, MED...",1,170.0,340.0,0.000340
3,01000 - ASSEMBLEIA LEGISLATIVA,2019-09-01,23183671000130 - GALEQ COMÉRCIO INTERNACIONAL ...,DISPENSA DE LICITAÇÃO,"5133017 - NO-BREAK, 600 VA",1,27.6,1104.0,0.001104

**6** Contar quantos orgãos distintos que efetuaram licitações pela BEC

In [27]:
# Solução
len(df_bec['Cód Desc Órgão'].unique())

29

**7** Calcular o total valor total negociado em licitações pelo órgão '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO'

In [28]:
# Solução
df_bec[df_bec['Cód Desc Órgão'] == '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO']['Valor Negociado Mi'].sum()

44.46666314419999

**8** Calcular a quantidade de fornecedores de cada órgão distribuídos nos tipos distintos de procedimentos de compra. Listar apenas 6 registros

In [29]:
# Solução
df_bec.groupby('Descrição Procedimento Compra')[['Cod Desc Fornecedor']].nunique()

                               Cod Desc Fornecedor
Descrição Procedimento Compra
CONVITE                                       2177
DISPENSA DE LICITAÇÃO                         1006
PREGÃO ELETRÔNICO                             4611

**9** Calcular o valor mínimo, máximo, média e desvio padrão dos valores unitarios agrupados por fornecedor e código de descrição do item.

In [30]:
# Solução
df_bec.groupby(['Cod Desc Fornecedor', 'Cod Desc Item'])['Valor Unitário Negociado'].agg(['min', 'max', 'mean', 'std'])

                                                                                                             min  \
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                   256700.00
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM        228.75
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...      49.80
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...      34.50
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...     143.00
...                                                                                                          ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...    1300.00
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...     580.00
                                                   5344522 - PROTESE TESTICULAR                           685.50
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)     685.50
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...     500.00

                                                                                                             max  \
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                   256700.00
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM        228.75
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...      49.80
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...     398.00
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...     143.00
...                                                                                                          ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...    1300.00
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...     580.00
                                                   5344522 - PROTESE TESTICULAR                           685.50
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)     685.50
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...     500.00

                                                                                                                mean  \
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                   256700.000000
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM        228.750000
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...      49.800000
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...     219.442857
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...     143.000000
...                                                                                                              ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...    1300.000000
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...     580.000000
                                                   5344522 - PROTESE TESTICULAR                           685.500000
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)     685.500000
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...     500.000000

                                                                                                              std
Cod Desc Fornecedor                                Cod Desc Item
00000028000129 - TARGET ENGENHARIA E CONSULTORI... 187844 - HOSPEDAGEM DE SERVIDORES                          NaN
00002314000123 - ELETRO SOLDAS COMERCIAL LTDA - ME 2133946 - SOLDA DE ACO CARBONO,TIPO ARAME,0,8MM            NaN
                                                   2982315 - ACETILENO COMUM PARA SOLDA, CILINDRO ...         NaN
                                                   3090582 - GAS ESPECIAL COMPOSTO POR 75% DE ARGO...  171.543074
                                                   3811980 - OXIGENIO, TIPO COMUM, PARA SOLDA, CIL...         NaN
...                                                                                                           ...
97520092000172 - ENDO MEDICAL IMPORTACAO E EXPO... 3972658 - PROTESE PENIANA EM ELASTOMERO DE SILI...         NaN
                                                   3972674 - PROTESE TESTICULAR EM GEL DE SILICONE...         NaN
                                                   5344522 - PROTESE TESTICULAR                               NaN
                                                   697001 - PROTESE P/TESTICULO,SILICONE,(TAM.GRANDE)         NaN
                                                   771082 - GRAMPEADOR CIRURGICO LINEAR CORTANTE 7...         NaN

[107821 rows x 4 columns]

**10** Calcular o valor total negociado em cada encerramento de mês. O encerramento do mês deve ser apresentado como coluna. Utilizar o total negociado em milhões (Valor Negociado Mi).

In [31]:
# Solução
df_bec.groupby('Mês Ano Encerramento')['Valor Negociado Mi'].sum()

Mês Ano Encerramento
2019-01-01     663.364183
2019-02-01     792.873014
2019-03-01     632.310322
2019-04-01     725.169667
2019-05-01    1323.170611
2019-06-01     574.674755
2019-07-01    1916.317227
2019-08-01    1244.317418
2019-09-01    1043.932783
2019-10-01     716.399755
Name: Valor Negociado Mi, dtype: float64

**11** Calcular o valor total negociado e quantidade de itens adquiridas em cada encerramento de mês

In [32]:
# Solução
df_bec.groupby('Mês Ano Encerramento')['Valor Total Negociado em R$','Quantidade de Item'].sum()

<ipython-input-32-3faaeffc53af>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_bec.groupby('Mês Ano Encerramento')['Valor Total Negociado em R$','Quantidade de Item'].sum()

                      Valor Total Negociado em R$  Quantidade de Item
Mês Ano Encerramento
2019-01-01                           6.633642e+08                4452
2019-02-01                           7.928730e+08               11306
2019-03-01                           6.323103e+08               18933
2019-04-01                           7.251697e+08               27646
2019-05-01                           1.323171e+09               25318
2019-06-01                           5.746748e+08               20844
2019-07-01                           1.916317e+09               24565
2019-08-01                           1.244317e+09               26023
2019-09-01                           1.043933e+09               26715
2019-10-01                           7.163998e+08               13289

In [33]:
# recuperação da cotação da VALE3
from pandas_datareader import data
df_vale3 = data.DataReader('VALE3.SA', start='2010', end='2020', data_source='yahoo')
df_vale3.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-12-20  54.990002  54.150002  54.770000  54.790001  42124200.0  53.375641
2019-12-23  54.980000  54.400002  54.900002  54.580002  10225700.0  53.171062
2019-12-26  55.000000  54.509998  54.810001  54.790001  20410000.0  53.375641
2019-12-27  54.000000  53.419998  53.990002  53.599998  13920400.0  53.599998
2019-12-30  53.860001  53.200001  53.650002  53.299999  11928100.0  53.299999

**12** Criar uma coluna com o valor da média móvel de 10 períodos da VALE3 baseado no valor de fechamento.

In [34]:
# Solução
media_movel = df_vale3['Close'].rolling(10).mean()
media_movel.tail(20)

Date
2019-11-29    49.424
2019-12-02    49.858
2019-12-03    50.139
2019-12-04    50.414
2019-12-05    50.667
2019-12-06    50.799
2019-12-09    50.857
2019-12-10    50.855
2019-12-11    50.980
2019-12-12    51.238
2019-12-13    51.616
2019-12-16    51.816
2019-12-17    52.116
2019-12-18    52.371
2019-12-19    52.676
2019-12-20    53.020
2019-12-23    53.334
2019-12-26    53.693
2019-12-27    53.870
2019-12-30    53.905
Name: Close, dtype: float64

**13** Criar uma coluna com o valor do retorno diário da VALE3 baseado no valor de fechamento (Close) 

*Retorno diário(t) = Close(t) - Close(t-1)*

In [35]:
# Solução
def calc_valor_diario(x):
  list = []

  for i in range(1, len(x) - 1):
    list.append(x[i] - x[i - 1])

  return list

valor_diario = calc_valor_diario(df_vale3['Close'])
valor_diario[0:20]

[0.4799995422363281,
 1.0999984741210938,
 0.220001220703125,
 0.5200004577636719,
 -0.15999984741210938,
 -0.15000152587890625,
 0.6599998474121094,
 -0.009998321533203125,
 -0.7000007629394531,
 0.75,
 0.75,
 -1.5,
 -1.8500022888183594,
 -1.0900001525878906,
 -1.0199966430664062,
 -0.6800003051757812,
 -0.030002593994140625,
 0.13000106811523438,
 1.4799995422363281,
 0.0]